.item {
    gap: 1.2rem;
}

.contact {
    margin-top: 0.9rem;
    margin-bottom: 1.8rem;
    border-bottom: 0.04rem solid grey;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: left;
}


.avatar {
    size: 3px;
}

.trashIcon {
    color: grey;
    float: right;
    font-size: 1.2rem;
    float: right;

}

.trashIcon:hover {
    cursor: pointer;
}